#wrapper{
    width: 56%;
    margin: 0 auto;
}

.shortImg{
    width: 190px;
    height: 230px;
}

.shortImgPhone{
    width: 60%;
    height: 245px;
}


.picSpan{
    float: left;
    display: inline-block;
    width: 30%;
    /*border: 1px solid black;*/
}

.descSpan{
    display: inline-block;
    width: 69%;

    /*border: 1px solid black;*/
}

.hiddenImage {
    display: none;
}

.laptopsImages {
    width: 280px;
    height: 210px;
}

.monitorsImages {
    width: 270px;
    height: 210px;
}

.personal_computersImages {
    width: 190px;
    height: 230px;
}

.phonesImages{
    width: 200px;
    height: 280px;
}
.brandNameNav {
    margin-right: 100px;
}

#navbarsExample04{
    width: 200px !important;
}

.productHeading {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight:bold ;
}

.centerItems {
    text-align: center;
    margin-top: 30px;

}

.profileButton {
    width: 180px;
    height: 120px;
    border: 1px solid black;
    margin: 10px auto;
    color: white;
    background-color: #343a40;
    border-radius: 25px;
    vertical-align: middle;
    line-height: 120px;
}

.generalLink {
    text-decoration: none;
}


.testit {
    text-decoration: none;
    color: white;
}

testit:link {
    text-decoration: none;
}

testit:visited {
    text-decoration: none;
}

.testit:hover{
    text-decoration:none;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


#wrapper .customForm {
    text-align: center;
}

.customForm {
    margin-top: 30px;
}

input {
    width: 270px;
    height: 40px;
    margin: 5px;
}

button{
    width: 120px;
    height: 50px;
    border: 1px solid black;
    margin: 10px auto;
    color: white;
    background-color: #343a40;
    border-radius: 20px;
    vertical-align: middle;
    line-height: 50px;
}

.linkButton {
    width: 130px;
    height: 50px;
    color: white;
    border: 1px solid black;
    margin: 10px auto;
    padding: auto;
    background-color: #343a40;
    border-radius: 25px;
}

.commonLink {
    text-decoration: none;
    color: white;
}

commonLink:link {
    text-decoration: none;
}

commonLink:visited {
    text-decoration: none;
}

/*Styles about ream more button*/
.comment {

    margin: 10px;
}
a.morelink {
    color: #1b1e21;
    text-decoration: #00A1E6;
    outline: none;
}
.morecontent span {
    display: none;

}
.priceCart{
    display: block;
    float: right;
}

.orderComplete{
    margin: auto;
    width: 90%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.addlinkButton {
    width: 180px;
    height: 40px;
    color: white;
    border: 1px solid black;
    margin: 10px auto;
    padding: auto;
    background-color: #343a40;
    border-radius: 20px;
    text-align: center;
    text-decoration: none !important;
}

.biggerLinkButton {
    width: 220px;
    height: 80px;
    border: 1px solid black;
    margin: 10px auto;
    color: white;
    background-color: #343a40;
    border-radius: 25px;
    vertical-align: middle;
    line-height: 80px;
    padding-left: 40px;
}

.addProductLink{
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none !important
}

addProductLink:link {
    text-decoration: none;
}

addProductLink:visited {
    text-decoration: none;
}

.addProductLink:hover{
    text-decoration:underline;
    color: white;
}

.addToCartDiv {
    width: 240px;
    height: 38px;
    color: white;
    border: 1px solid black;
    background-color: #343a40;
    border-radius: 20px;
    text-align: center;
    text-decoration: none !important;
}

.addToCartLink{
    display:inline-block;
    width:250px;
    color: white;
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
    border-radius: 20px;
    text-align: center;
    text-decoration: none !important
}

addToCartLink:link {
    text-decoration: none;
}

addToCartLink:visited {
    text-decoration: none;
}

.addToCartLink:hover{
    text-decoration:underline;
    color: white;
}

.removeCartItem {
    display:inline-block;
    width:250px;
    color: white;
    background-color: indianred;
    border: 1px solid indianred;
    border-radius: 20px;
    text-align: center;
    text-decoration: none !important
}

.biggetText{
    font-size: 20px;
    font-weight: bold;
}

.enterProfile {
    text-decoration: none;
    color: white;
}
.enterProfile:hover {
    text-decoration: none;
    color: white;
}
.enterProfile:visited {
    text-decoration: none;
    color: white;
}

.enterProfileDiv {
    display:inline-block;
    width:250px;
    color: white;
    background-color: indianred;
    border: 1px solid indianred;
    border-radius: 20px;
    text-align: center;
    text-decoration: none !important
}


.wellcome {
    width: 50%;
    margin: 20px auto;
    font-size: 30px;
}

.infoText {
    width: 70%;
    margin: 20px auto;
}

.imgAbout {
    margin: 20px auto;
}

.connectUs {
    width: 70%;
    margin: 5px auto;
}
.linkAbout {
    margin-left: 10px;
    text-decoration: none;
    color: green;
}
.linkAbout:hover {
    text-decoration: none;
    color: green;
}
.linkAbout:visited {
    text-decoration: none;
    color: green;
}

